<p-toast></p-toast>
<app-navbar></app-navbar>
<div style="text-align: right"></div>
<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <B>LOGIN</B>
      <i class="pi pi-user" style="font-size: 1rem; margin-left: 10px"></i>
    </div>

    <div class="card-body" style="margin: 20px">
      <form [formGroup]="form">
        <span class="p-float-label" style="margin: 20px">
          <input
            id="float-input"
            type="text"
            [(ngModel)]="this.loginUser.username"
            formControlName="username"
            pInputText
          />
          <label for="float-input">Email</label>
        </span>
        <span class="p-float-label" style="margin: 20px; margin-top: 30px">
          <input
            id="float-input"
            type="password"
            [(ngModel)]="this.loginUser.password"
            formControlName="password"
            pInputText
          />
          <label for="float-input">Contraseña</label>
        </span>
        <button
          [disabled]="form.invalid"
          (click)="ingresar()"
          pButton
          pRipple
          type="button"
          label="Iniciar"
          class="p-button-outlined p-button-secondary"
          style="margin-bottom: 10px"
        ></button>
        <br />
        <br />
        <p>
          Aun no tienes cuenta?
          <button class="btn btn-success" type="button" (click)="Registrarme()">
            Registrarme
          </button>
        </p>
        <p>
          ¿Olvidaste tu contraseña?
          <button class="btn btn-warning" type="button" (click)="ClickAqui()">
            Click Aqui
          </button>
        </p>
      </form>
    </div>

    <div></div>
  </div>
</div>
<div class="container2">
  <button
    type="button"
    (click)="navegar()"
    pButton
    pRipple
    label="Preguntas"
    class="p-button-danger mb-2"
  >
    <i class="pi pi-user-edit" style="margin-top: 5px"></i>
  </button>
</div>
