<p-toast></p-toast>
<app-navbar></app-navbar>
<div style="text-align: right"></div>
<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <B>Recuperar contraseña</B>
      <i class="pi pi-user" style="font-size: 1rem; margin-left: 10px"></i>
    </div>

    <div class="card-body" style="margin: 20px">
      <form [formGroup]="form">
        <span class="p-float-label" style="margin: 20px">
          <input
            id="float-input"
            type="text"
            [(ngModel)]="email"
            formControlName="email"
            pInputText
          />
          <label for="float-input">Email de recuperacion </label>
        </span>
        <button
          [disabled]="form.invalid"
          (click)="onReset()"
          pButton
          pRipple
          type="button"
          label="Iniciar"
          class="p-button-outlined p-button-secondary"
          style="margin-bottom: 10px"
        ></button>
      </form>
    </div>
  </div>
</div>
