<p-toast></p-toast>
<app-navbar></app-navbar>
<div style="text-align: right"></div>
<div class="container">
  <div class="card text-center">
    <ng-container *ngIf="enviado">
      <div class="card-header">
        <B>INGRESA EMAIL PARA RECUPERAR TU CONTRASEÑSA</B>
        <i
          class="pi pi-user"
          style="font-size: 1rem; margin-left: 10px"
        ></i></div
    ></ng-container>

    <div class="card-body" style="margin: 20px">
      <form [formGroup]="form">
        <span class="p-float-label" style="margin: 20px">
          <input
            id="float-input"
            type="text"
            [(ngModel)]="email"
            formControlName="email"
            pInputText
          />
          <label for="float-input">Correo</label>
        </span>
        <button
          [disabled]="form.invalid"
          (click)="onReset()"
          pButton
          pRipple
          type="button"
          label="Recuperar contraseña"
          class="p-button-raised p-button-success"
          style="margin-bottom: 10px"
        ></button>
        <br />
      </form>
    </div>
    <ng-container *ngIf="!enviado">
      <div class="card-header">
        <B
          >REVISA LA BANDEJA DE TU CORREO ELECTRONICO, CAMBIA LA CONTRASEÑA Y
          ACTUALIZA TUS DATOS
        </B>
        <i
          class="pi pi-user"
          style="font-size: 1rem; margin-left: 10px"
        ></i></div
    ></ng-container>
    <div></div>
  </div>
</div>
